<!DOCTYPE html>

  <html lang="pt-br">

    <head>
      <meta charset="UTF-8">
      <title>.: Página Pessoas - Camila Diniz</title>
      <link rel="stylesheet" href="styles.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>

    <body>
      <header>
        <div class="links">
          <a href="/"> Sobre </a>
          <a href="#socialmedia"> Projetos </a>
          <a href="/"> Portifólio </a>
        </div>
      </header>

      <div id="wrapper">
        <h1> Tecnologias </h1>
      </div>

      <section class="cards">
        <div class="card">
          <a href="https://www.w3schools.com/html/" target="_blank">
            <h1>HTML</h1>
            <img src="images/html.png" alt="Logo do HTML">
            <p> Conhecimentos intermediários/avançados de HTML</p>
          </a>
        </div>

        <div class="card">
          <a href="https://www.w3schools.com/css/" target="_blank">
            <h1>CSS</h1>
            <img src="images/css.png" alt="Logo do CSS">
            <p> Conhecimentos intermediários/avançados de CSS</p>
          </a>
        </div>

        <div class="card">
          <a href="https://www.w3schools.com/js/" target="_blank">
            <h1>Javascript</h1>
            <img src="images/javascript.png" alt="Logo do Javascript">
            <p> Conhecimentos básicos/intermediarios de Javascript</p>
          </a>
        </div>

        <div class="card">
          <a href="https://www.python.org/" target="_blank">
            <h1>Python</h1>
            <img src="images/python.png" alt="Logo do Python">
            <p> Conhecimentos intermediários/avançados de Python, 
              principalmente das seguintes bibliotecas: Pandas, Numpy, Matplotlib,
              scikit learn.
            </p>
          </a>
        </div>

        <div class="card">
          <a href="https://nodejs.org/en/" target="_blank">
            <h1>NodeJs</h1>
            <img src="images/nodejs.png" alt="Logo do NodeJs">
            <p> Conhecimentos básicos de NodeJs</p>
          </a>
        </div>

        <div class="card">
          <a href="https://pt-br.reactjs.org/">
            <h1>React</h1>
            <img src="images/react.png" alt="Logo do React">
            <p> Conhecimentos básicos de React</p>
          </a>  
        </div>

     </section>


     <!--#### MODAL ###-->
     <div class="modal-overlay">
       <div class="modal">
         <a class="close-modal">
          <i class="material-icons">close</i>
        </a>

          <div class="modal-content">
            <!--Página da ferramenta -->
            
          </div>
         
       </div>
     </div>

     <script src="main.js"></script>

    </body>
  </html>