@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --color-purple: #7159c1;
  --color-orange: rgb(253, 149, 31);
  --color-green : rgb(4, 211, 97);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #1d1822;
  color: #fff;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: var(--color-purple);
}

header .links{
  display: flex;
  justify-content: center;
  text-align: end;
}

header div a{
  font-size: 24px;
  margin-left: 24px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

header div a:hover{
  opacity: 0.5;
  transition: color 500ms;
}

header .logo-image img{
  cursor: pointer;
  width: 40px;
}

#about .company-logo{
 display: flex;
 justify-content: center;
 margin: 64px;
}

#about .company-logo img{
  width: 50px;
  margin-right: 36px;
  opacity: 1.0;
 }


 #about .company-logo h1{
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 4px;
  font-weight: bold;
 }

 .company-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 64px;
 }

 .company-info .info{
  max-width: 400px;

  margin-left: 128px;

  background-image: url("images/index/rocket.png");
  background-repeat: no-repeat;
  background-size: 75px 75px;
 }

 .company-info .info p{
  margin: 32px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
 }

 .company-info .tecnologies{
  margin-right: 128px;
 }

 .company-info .tecnologies h3{
   font-size: 20px;
   font-weight: normal;
   line-height: 34px;
   text-align: center;
   letter-spacing: 1.5px;
 }

 .tools {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }

 .tools li{
   list-style: none;
   text-align: center;
   margin: 12px;
 }
 
 .tools li img{
   opacity: 0.6;
   width: 120px;
 }

 .tools li img:hover{
   opacity: 1.0;
   transition: color 500ms;
 }

 .tools li p{
   font-size: 18px;
   font-weight: normal;
   line-height: 30px;
   letter-spacing: 1px;
 }

 .socialmedia{
  display: flex;
  justify-content:center;
  border-top: 0.1px solid #7159c1;
  padding: 16px;
 }

 .socialmedia li{
   list-style: none;
   text-align: center;
   margin-left: 32px;
 }

 .socialmedia li a{
   text-decoration: none;
   color: #fff;
 }

 .socialmedia li img{
  width: 25px;
  opacity: 0.5;
  padding-bottom: 12px;
 }

 .socialmedia li a img:hover,
 .socialmedia li a p:hover{
  opacity: 1.0;
  transition: 500ms;
  color: var(--color-purple);
 }

 .socialmedia li a p{
  letter-spacing: 1px;
  text-align: center;
 }

 /* =============**============
          CARDS
    =============**============
 */
 .cursos{
   margin-top:128px;
   text-align: center;
   font-size: 30px;
   line-height: 40px;
   letter-spacing: 3px;
 }

 .cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 12px;
   margin: 64px 12px;
 }

 .cards .card{
  width: 28vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(138, 132, 132);
  border-radius: 10px;
  text-align: center;
  background-color: #140f1a75;
  cursor: pointer;
 }

.cards .card:hover{
  width: 32wh;
  background-color: #635c6927;
 }

 #starter:hover{
  border: 4px solid var(--color-purple);
 }

 #launchbase:hover{
  border: 4px solid var(--color-orange);
}

#gostack:hover{
  border: 4px solid var(--color-green);
}

.cards .card h2{
  padding: 12px;
  font-size: 32px;
  line-height: 42px;
  margin: 32px auto;
  width: 30px;
  height: 30px;
}

#starter{ 
  color: var(--color-purple);
}

#launchbase{ 
  color: var(--color-orange);
}

#gostack{ 
  color: var(--color-green);
}

.cards .card img{
   width: 200px;
   height: 200px;
   padding-top: 80px;
 }

.cards .card .subtitle{
  width: 90%;
  margin: 0 auto;
}

.cards .card .subtitle p{
 color: #fff;
 opacity: 0.6;
}

.cards .card .info-cursos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  font-weight: 700;
  font-size: 20px;
 }

.cards .card h4{
  padding-top: 64px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}

.cards .card p{
  opacity: 0.6;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 80px;
}

 /* =============**============
          MODALS
    =============**============
 */
.modal-overlay{
  background-color: rgba(0, 0, 0, 0.603);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
 }

.modal{
  background-color: #fff;
  width: 80%;
  height: 80%;
  position: relative;
  margin: 5vh auto;
}

.modal .close-modal,
.modal .maximize-modal{
  color: #7159c1;
  position: absolute;
  top: 4px;
  cursor: pointer;
}

.modal .close-modal{
  right: 4px;
}

.modal .maximize-modal{
  right: 36px;
}
/* =============**============
          MODAL.ACTIVE
    =============**============
 */
 .modal-overlay.active{
   opacity: 1.0;
   visibility: visible;
   transition: 1.0s;
 }

 .modal.maximize{
   width: 100%;
   height: 100%;
 }

 iframe{
   width: 100%;
   height: 95%;
   position: absolute;
   top: 7%;
 }

 .not-found{
   width: 800px;
   margin: 0 auto;
   text-align: center;
 }

.not-found h1{
  text-align: center;
  margin-top: 128px;
  letter-spacing: 4px;
  padding-bottom: 32px;
}

.not-found img{
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}

.not-found p{
  width: 500px;
  margin: 0 auto;
  padding: 12px;
}

.not-found a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.8;
}