{% extends "layout.njk" %}

  {% block head %}
      <title> .: Página não encontrada </title>
  {% endblock %}

{% block content %}

<div class="not-found">

  <h1>Erro 404 - Conteúdo não encontrado </h1>

  <img src="images/broken-link.png" alt="Broken Link">

  <p> Você está tentando acessar um conteúdo que não existe ou que no momento
    não pode ser encontrado.
  </p>

  <p> Caso deseje retorne à página inicial clicando
    <a href="/">aqui</a>
  </p>
</div>

{% endblock %}}