<div>
  <ul class="socialmedia">
    <li><a href="https://github.com/Rocketseat" target="_blank"> 
      <img src="images/index/github.png" alt="">
      <p>  Github </p>
      </a>
    </li>
    <li><a href="https://www.facebook.com/rocketseat" target="_blank">
      <img src="images/index/facebook.png" alt="">
      <p> Facebook</p>
      </a>
    </li>
    <li><a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">
      <img src="images/index/instagram.png" alt="">
      <p> Instragram</p>
      </a>
    </li>
  </ul>
</div>
