@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  margin-left: 230px;
  color: #111111;
}

#nav{
  display: flex;
  margin-top: 36.1px;
  margin-bottom: 30px;
}

#nav .logo img{
  width: 90.6px;
  height: 26.9px;

  margin-right: 128px;
}

#nav .menu{
  align-self: center;
}

#nav .menu a{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #111111;

  margin-right: 30px; 
}

#nav .menu a:hover{
  opacity: 0.7;
}

.principal-image{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 940px;
  height: 366px;
  background-color: #FBDFDB;
  border-radius: 30px;
}

.principal-image .text-image h1{
  width: 305px;
  margin-left: 60px;
  margin-top: 117px;

  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

.principal-image .text-image p{

  width: 316px;
  height: 84px;

  margin-left: 60px;
  margin-top: 10px;

  color: #000;
  opacity: 0.7;

  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}


.principal-image .logo-image img{
  padding-top: 66px;
  margin-left: 154px;
}
