@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --color-purple: #7159c1;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #1d1822;
  color: #fff;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--color-purple);
}

header .links{
  justify-content: center;
  text-align: end;
}

header div a{
  font-size: 24px;
  margin: 15px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

header div a:hover{
  opacity: 0.7;
  transition: color 500ms;
}

header .logo-image img{
  cursor: pointer;
}

#about .company-logo{
 display: flex;
 justify-content: center;

 margin: 64px;
}

#about .company-logo img{
  width: 50px;
  margin-right: 36px;
  opacity: 1.0;
 }

 
 #about .company-logo h1{
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 2px;
 }

 .company-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 64px;
 }

 .company-info .info{
  max-width: 400px;

  margin-left: 128px;

  background-image: url("images/index/rocket.png");
  background-repeat: no-repeat;
  background-size: 75px 75px;
 }

 .company-info .info p{
  margin: 32px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
 }


 .company-info .tecnologies{
  margin-right: 128px;
 }

 .company-info .tecnologies h3{
   font-size: 20px;
   font-weight: normal;
   line-height: 34px;
   text-align: center;
   letter-spacing: 1.5px;
 }

 .tools {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }

 .tools li{
   list-style: none;
   text-align: center;
   margin: 12px;
 }
 
 .tools li img{
   opacity: 0.6;
   width: 120px;
 }

 .tools li img:hover{
   opacity: 1.0;
   transition: color 500ms;
 }

 .tools li p{
   font-size: 18px;
   font-weight: normal;
   line-height: 30px;
   letter-spacing: 1px;
 }

 .socialmedia{
  display: flex;
  justify-content: right;
   
   border-top: 1px solid #9f84b9;
   border-bottom: 1px solid #633a8b;
   padding: 16px;
 }

 .socialmedia li{
   list-style: none;
   text-align: center;
   margin-left: 32px;
 }

 .socialmedia li a{
   text-decoration: none;
   color: #fff;
 }

 .socialmedia li h4{
   font-size: 20px;
   line-height: 30px;
   font-weight: normal;
   letter-spacing: 1px;
 }

 .socialmedia li img{
  width: 30px;
  opacity: 0.5;
  padding-bottom: 12px;
 }

 .socialmedia li a img:hover,
 .socialmedia li a p:hover{
  opacity: 1.0;
  transition: 500ms;
  color: var(--color-purple);
 }


 .socialmedia li a p{
  letter-spacing: 1px;
  text-align: center;
 }

 /* =============**============
          CARDS
    =============**============
 */

 .cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   gap: 12px;

   margin: 128px 0;
 }

 .cards .card{
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid rgb(138, 132, 132);
  border-radius: 10px;

  text-align: center;

  background-color: #1d182211;

  cursor: pointer;
 }

.cards .card:hover{
  width: 510px;
  background-color: #140f1a75;
 }

 #starter:hover{
  border: 4px solid #7159c1;
 }

 #launchbase:hover{
  border: 4px solid rgb(253, 149, 31);
}

#gostack:hover{
  border: 4px solid rgb(4, 211, 97);
}

.cards .card img{
   width: 200px;
   padding-top: 80px;
 }

.cards #launchbase img{
   width: 320px;
 }

.cards #gostack img{
  width: 225px;
}

.cards .card subtitle{
  width: 85%;
}

.cards .card .info-cursos{
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 90%;
 }

 #starter h4{
   color: #7159c1;
 }

 #launchbase h4{
  color: rgb(253, 149, 31)
 }

 #gostack h4{
  color: rgb(4, 211, 97)
 }


.cards .card h4{
  padding-top: 64px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.cards .card p{
  opacity: 0.6;
 
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 80px;
}


 /* =============**============
          MODALS
    =============**============
 */

 .modal-overlay{
   background-color: rgba(0, 0, 0, 0.603);

   width: 100%;
   height: 100%;

   position: fixed;
   top: 0;

   opacity: 0;
   visibility: hidden;
 }

.modal{
  background-color: #fff;

  width: 80%;
  height: 80%;
  position: relative;

  margin: 5vh auto;
}

.modal .close-modal{
  color: #7159c1;

  position: absolute;
  right: 8px;
  top: 8px;

  cursor: pointer;
}

.modal .maximize-modal{
  color: #7159c1;

  position: absolute;
  right: 48px;
  top: 8px;

  cursor: pointer;
}

/* =============**============
          MODAL.ACTIVE
    =============**============
 */

 .modal-overlay.active{
   opacity: 1.0;
   visibility: visible;
 }

 .modal.maximize{
   width: 100%;
   height: 100%;
 }

 iframe{
   width: 100%;
   height: 95%;
   position: absolute;
   top: 5%
 }